body {
    background: url('../image/background.jpeg') no-repeat fixed;
    background-size: cover;
}

.middle-frame {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
}

.signup-login {
    float: right;
    margin: 0.5em 0.5em 0.5em 0.1em;
    padding: 0.5em;
    border-radius: 0.2em;
}

.welcome-search {
    font-size: 1.3em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.welcome-logo {
    font-size: 7em;
    font-weight: bold;
    margin: auto;
    padding: 0.1em;
}

.welcome-description {
    font-size: 1.6em;
    margin: auto;
    padding: 0.1em;
}

.center-welcome-logo {
    margin: auto;
    width: 50%;
    text-align: center;
}

.center-welcome-description {
    margin: auto;
    width: 70%;
    text-align: center;
}

.search-text {
    padding: 0.8em 0.8em 0.1em 0;
}

#destination-input {
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 0.6;
}
