body {
    background: url('../image/background.jpeg') no-repeat fixed;
    background-size: cover;
}

.body::after {
    clear: both;
}

.middle-frame {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
}

.signup-login {
    float: right;
    margin: 0.5em 0.5em 0.5em 0.1em;
    border-radius: 0.2em;
}

.welcome-search {
    font-size: 1.3em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.welcome-logo {
    font-size: 7em;
    font-weight: bold;
    margin: auto;
    padding: 0.1em;
}

.welcome-description {
    font-size: 1.6em;
    margin: auto;
    padding: 0.1em;
}

.center-welcome-logo {
    margin: auto;
    width: 50%;
    text-align: center;
}

.center-welcome-description {
    margin: auto;
    width: 70%;
    text-align: center;
}

.search-text {
    padding: 0.8em 0.8em 0.1em 0;
}

#destination-input {
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 0.6;
}


input[type=text], input[type=submit] {
    transition: 0.2s;
}

input[type=text] {
    padding: 0.5em 1em;
    margin: 0.5em 0em;
    border-radius: 0.2em;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;

    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    opacity: 0.7;
}

input[type=text]:focus {
    border: 1px solid rgba(255, 255, 255, 1);
}

input[type=submit] {
    padding: 0.4em 0.8em;
    margin: 1em 0em;
    border-radius: 0.2em;
    font-size: 1em;
    background-color: #2f5597;
    color: white;

    cursor: pointer;
    border: none;
    opacity: 0.9;
}

input[type=submit]:hover, input[type=text]:hover {
    opacity: 1;
}
