.trip-container {
    height: 100%;
}

.trip {
    width: 90%;
    height: 10em;
    margin: 2em auto;
    background-color: rgb(235, 235, 235);
    display: flex;
}

.trip > img {
    width: 5em;
    position: relative;
    top: 20%;
    height: 60%;
    padding-left: 2em;
}

.trip > * {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-action-needed {
    color: red;
    text-emphasis: 900;
}

.trip-action-waiting {
    color: green;
}